.service {
    padding-top: 70px;
    padding-bottom: 70px;

    overflow: hidden;
}

.service__header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    row-gap: 25px;

    position: relative;

    .service__header-img{
        position: absolute;

        right: 0;

        transform: translateX(50%);

        /* Mobile */
        @media (max-width: 899px) {
            display: none;
        }
    }
}


.service__subtitle {
    width: 492px;
    /* Mobile */
    @media (max-width: 899px) {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
}

.service__description {
    width: 604px;

    @media (max-width: 899px) {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
}


/* .service__row{
    padding-top: 70px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 60px;
} */

.service__row{
    display: grid;
    gap: 30px;
    padding-top: 70px;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
}