.slider{
    padding-top: 70px;
    padding-bottom: 70px;
}

.header-slider {
    margin-bottom: 70px;
}

.header-slider__subtitle {
    text-align: center;
    margin-bottom: 25px;
}

.header-slider__description {
    max-width: 715px;
    margin: 0 auto;
    text-align: center;
}
