@import '../base/fonts';
@import '../base/mixin';


.button__primary{
    display: inline-block;
    padding: 15px 30px;
    background-color: rgb(57, 136, 255);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: "Poppins-medium";
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}

