.email{
    color: rgb(255, 255, 255, 0.7);
    font-family: "Montserrat-medium";
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    transition: 0.2s ease-in;
    &:hover{
        color: rgb(255, 255, 255);
    }
}