.section__title{
    background: linear-gradient(180.00deg, rgb(217, 48, 89),rgba(217, 48, 89, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Lato-bold";
    font-size: 69px;
    font-weight: 700;
    line-height: 1.2;

    opacity: 0.3;
    text-transform: uppercase;
}