.section__subtitle{
    color: rgb(5, 12, 38);
    font-family: "Lato-semibold";
    font-size: 43px;
    font-weight: 600;
    line-height: 1.3;

    /* Tablet */
    @media (max-width: 1199px) {
    font-size: 32px;
    }
}